$bg = #1A233B
$color-text = #525f83
$color-text-credit = darken($color-text, 25%)
$color-btn = $color-text
$color-btn-border = desaturate(lighten($bg, 20%), 40%)
$font-family-mono = menlo, "source-code-pro", 'andale mono','courier new', sans-serif